<div class="card rounded-0 border-left-primary shadow h-100 py-2 mb-5 mt-5"">
  <div class="card-body">
    <h4> Create New Employees </h4>
    <p>Add a new employee to your organisation. Just fill yhe information.</p>
  </div>
</div>
<%= render 'form', employee: @employee %>