<h1>Editing Relative</h1>

<%= render 'form', relative: @relative %>

<%= link_to 'Show', admin_relative_path(@relative), class: "btn btn-primary" %> |
<%= link_to 'Back', admin_relatives_path, class: "btn btn-primary" %>
