<div class="card border-left-primary shadow h-100 py-2 rounded-0 mb-5 mt-5">
  <div class="card-body">
    <h4>Create New Relative</h4>
    <p>Add a new relative to an employee organization. Just fill the information.</p>
  </div>
</div>

<%= render 'form' , relative: @relative %>