<h1>Editing Previous Work Detail</h1>

<%= render 'form', previous_work_detail: @previous_work_detail %><br>

<%= link_to 'Show', admin_previous_work_detail_path(@previous_work_detail), class: "btn btn-primary" %> |
<%= link_to 'Back', admin_previous_work_details_path, class: "btn btn-primary" %>
