<div class="card rounded-0 border-left-primary shadow h-100 py-2 mb-5 mt-5">
  <div class="card-body">
    <h4>Create New Previous Work Details</h4>
    <p>Add a new previous work details to your organization. Just fill the information and press the save button.</p>
  </div>
</div>

<%= render 'form', previous_work_detail: @previous_work_detail %>